:root {
  --gray950: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);
  --gray500: hsl(0, 0%, 42%);
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
  font-weight: 500 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "figtree", sans-serif;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--yellow);
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: clamp(327px, 50vw, 384px);
  color: var(--gray950);
  border-color: var(--gray950);
  gap: 24px;
  line-height: 1.5;
  box-shadow: 8px 8px;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.blogimage {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card section h1 {
  font-weight: 800;
  font-size: clamp(2rem, 3vw, 2.4rem);
}

.card section h1:hover {
  color: var(--yellow);
}

.card section h1 a {
  text-decoration: none;
  color: inherit;
}

.card section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card section p {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: var(--gray500);
}

.author {
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 12px;
  font-size: 1.4rem;
}

.author img {
  width: 32px;
  height: 32px;
}

.category {
  background-color: var(--yellow);
  padding: 4px 12px;
  border-radius: 4px;
  width: min-content;
  font-weight: 800;
}
